doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  header
  h1 Website par ao teste 2023 rpcw
  h1 
    a(href=`http://localhost:15016/`) Voltar
  body
    block content
